body, html{
	margin: 0;
	width: 100%;
	height: 100%;
	background: #0c0d0d;
	font-family: 'Oswald', sans-serif;
	color: #d7d7d7;
}
/*Containers*/
.flex-cont{
	display: flex;
	align-items:center;
	justify-content: center;
	vertical-align:middle;
	text-align: center;
	flex-wrap: wrap;
}
.first-cont{
	height: 100vh;
	background-image:url('../img/headerDes.jpg');
	background-repeat:no-repeat;
	background-attachment: fixed;
	background-position:center;
	background-size:cover;
	background-position:center;
	text-align: center;
	display: flex!important;
}
.third-cont{
	min-height: 100vh;
	background-image:url('../img/studio.jpg');
	background-repeat:no-repeat;
	background-attachment: fixed;
	background-position:center;
	background-size:cover;
	background-position:center;
	text-align: center;
}
.project-nav{
	display:flex;
	flex-wrap: nowrap;
	align-items: baseline;
	padding: 20px;
}
.project-cont{
	width: 1000px;
	display: inline-block;
}
.project-nav div{
	width:100%;
	text-align:left;
}
.project-nav div:nth-child(2){
	width:100%;
	text-align:right;
}
.third-img{
	text-align: center;
	width: 30%;

}
.third-img img{
	width: 230px;
	border-radius: 50%;
}
.third-text{
	text-align: left;
	width: 70%;
}

.about-cont{
	border: 3.5px solid #eee1c5;
	padding: 50px 40px;
	text-align: right;
	justify-content: right;
	display: inline-block;
	min-width: 205px;
	max-width: 405px;
	font-size: 20px;
}
/*Containers*/
/*Container Items*/
.heading{
	color: #eee1c5;
	font-size: 60px;
}
.first-cont-items{
	display: block;
	color: #d7d7d7;
	text-align: center;
	width: 100%;

}
.first-cont-items{
	display: block;
	color: #d7d7d7;
	text-align: center;
	width: 100%;
}
.first-cont img{
	width: 100%;
	min-width:170px; 
	max-width: 190px;
	animation-name: imageShow;
  	animation-duration: 1s;
	animation-iteration-count: 1;
}
.first-cont font{
	font-size: 40px;
	letter-spacing: 17px;
	transition: 0.5s;
	animation-name: fontConnect;
  	animation-duration: 1s;
	animation-iteration-count: 1;
}
.contact-cont{
	width: 50%;
	text-align: center;
	display: block
}
.cont-input{
	width: 100%;
	max-width: 300px;
	display: inline-block;
	margin: 10px;
	padding:10px 10px 10px 45px;
	background: #161717;
	border: 1.5px solid #eccb84;
}
.cont-textarea{
	width: 100%;
	max-width: 345px;
	display: inline-block;
	margin: 5px;
	padding: 5px;
	background: #161717;
	border: 1.5px solid #eccb84;
}
.cont-input input, .cont-textarea textarea{
	width: 100%;
	font-size: 15px;
	border: none;
	background: #161717;
	color: #eee;
	font-family: 'Oswald', sans-serif;

}
 .cont-textarea textarea{
 	resize: none;
 	height: 140px;
 }
 .contact-btn{
 	width: 100%;
 	max-width: 360px;
 	border: 1.5px solid #eccb84;
 	background: #eccb84;
 	padding: 7.5px;
 	font-size: 18px;
 	margin-top: 10px;
 	font-weight: bold;
 	letter-spacing: 2px;
 	cursor: pointer;
 	transition: 0.5s;
 }
 .contact-btn:hover{
 	background: none;
 	color: #eccb84;
 }
 footer{
 	color: #161717;
 	padding: 10px;
 	background: #bd9641;
 }
.input-name:before{
	font-family: "Font Awesome 5 Free"; 
	font-weight: 900; 
	content: "\f007";
	margin-left: 20px;
	position: absolute;
	margin: 2px -30px;
    font-size: 20px;
    color: #eccb84;
}
.input-number:before{
	font-family: "Font Awesome 5 Free"; 
	font-weight: 900; 
	content: "\f095";
	margin-left: 20px;
	position: absolute;
	margin: 2px -30px;
    font-size: 20px;
    color: #eccb84;
}
.input-mail:before{
	font-family: "Font Awesome 5 Free"; 
	font-weight: 900; 
	content: "\f0e0";
	margin-left: 20px;
	position: absolute;
	margin: 2px -30px;
    font-size: 20px;
    color: #eccb84;
}
.btnFirstCont{
	padding: 2.5px 10px;
	border: 1.5px solid #d7d7d7;
	color: #d7d7d7;
	font-size: 20px;
	letter-spacing: 2.5px;
	cursor: pointer;
	transition: 0.5s;

}
.btnFirstCont:hover{
	color: #0c0d0d;
	background: #d7d7d7;
}
.project-nav .btnFirstCont{
	border: 1.5px solid #eee1c5;
	color: #eee1c5;
	font-size: 25px;
	margin: 5px;
}
.project-nav .btnFirstCont:hover{
	background: #eee1c5;
	color: #0c0d0d;
}
.project-cont .btnFirstCont{
	font-size: 20px;
}
.row-side{
	flex-direction: row;
	margin-top: 20px;
}
.row-side:nth-child(even){
	flex-direction: row-reverse;
}
.row-side:nth-child(even) .third-text{
	text-align: right;
}
.btn-active{
	color: #0c0d0d!important;
	background: #eee1c5;
}
hr{
	height: 15px;
    width: 100px;
    margin: 0;
    border: none;
    background: #eee1c5;
}
/*Container Items*/
/*Grid System*/
.div-three{
	width: 30%;
}
.div-four{
	width: 40%;
}
/*RESET CSS*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
.div-three  img{
	display: block;
}
h1{
	margin: 0;
}
button{
    background: none;
    border: none;
    font-family: 'Oswald', sans-serif;
}
/*Animation*/
@keyframes fontConnect{
  from{
    letter-spacing: 0px;
  }
  to{
    letter-spacing: 17px;
  }
}
@keyframes imageShow{
  from{
    transform: scale(0);
  }
  to{
    transform: scale(1);
  }
}
@media (max-width: 1000px){
	.flex-cont{
		display: block;
	}
	.project-cont, .third-img, .third-text, .contact-cont, .div-four, .div-three{
		width: auto;
	}
	.third-img, .third-text, .contact-cont:nth-child(1){
		padding: 10px;
	}
	.contact-cont:nth-child(1){
		margin-bottom: 20px;
	}
	.mob-hide{
		display: none;
	}
	.about-cont{
		margin: 40px 5px;
	}
	.input-name{
		margin-top: 20px!important;
	}
	.third-text{
		text-align: left!important;
	}
	.project-nav{
		display: block;
	}
	.first-cont font {
	    letter-spacing: 5px;
	}
	.cont-input{
		margin: 0px 0px 10px 0px;
		max-width: 80%;
		width: 80%;
	}
	.cont-textarea{
		width: 95%;
		max-width: 95%;
		margin: 0px;
	}
}
